In [1]:
import pandas as pd
import datetime
import csv
import numpy as np
import matplotlib.pyplot as plt
import re
from scipy.stats import linregress
from numpy import polyfit

# Import data: Cust_seg.csv

In [76]:
cust_data = pd.read_csv('~/dg_intern/DataSets/cust_seg.csv')
list(cust_data.columns)
print('List of column names: ')
print(*cust_data.columns)

/var/folders/md/twjjy3517bx9b44nk_x7wtbm0000gn/T/ipykernel_36169/700162684.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  cust_data = pd.read_csv('~/dg_intern/DataSets/cust_seg.csv')

List of column names:
Index Date Customer_id Employee index Country Gender Age Contract date New customer index Seniority(months) Primary Expiration of primary Customer type Customer relation type Residence index Foreigner index Spouse index Channel Deceased index Address type Province code Province name Activity index Gross income Saving account Guarantees Current account Derivada account Payroll account Junior account Most particular account Particular account Particular plus account Short-term deposits Medium-term deposits Long-term deposits e-account Funds Mortage Pensions_1 Loans Taxes Credit card Securities Home account Payroll Pensions_2 Direct debit

In [77]:
# clean the invalid data based on invalid contract date
cust_data.set_index('Contract date', inplace=True)
cust_data.drop(np.nan, inplace=True)
cust_data.drop(['Index'], inplace=True, axis=1)
cust_data

,Date,Customer_id,Employee index,Country,Gender,Age,New customer index,Seniority(months),Primary,Expiration of primary,...,Mortage,Pensions_1,Loans,Taxes,Credit card,Securities,Home account,Payroll,Pensions_2,Direct debit
Contract date,,,,,,,,,,,,,,,,,,,,,
1/12/2015,1/28/2015,1375586,N,ES,H,35,0.0,6,1.0,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
8/10/2012,1/28/2015,1050611,N,ES,V,23,0.0,35,1.0,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
8/10/2012,1/28/2015,1050612,N,ES,V,23,0.0,35,1.0,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
8/10/2012,1/28/2015,1050613,N,ES,H,22,0.0,35,1.0,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
8/10/2012,1/28/2015,1050614,N,ES,V,23,0.0,35,1.0,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9/25/2013,2/28/2015,1183296,N,ES,H,27,0.0,22,1.0,NaN,...,0,0,0,0,0,0,0,0.0,0.0,1
9/25/2013,2/28/2015,1183295,N,ES,H,56,0.0,22,1.0,NaN,...,0,0,0,0,0,0,0,0.0,0.0,0
9/25/2013,2/28/2015,1183294,N,ES,V,39,0.0,22,1.0,NaN,...,0,0,0,0,0,0,0,0.0,0.0,1
9/25/2013,2/28/2015,1183293,N,ES,V,36,0.0,22,1.0,NaN,...,0,0,0,0,0,0,0,0.0,0.0,1
9/25/2013,2/28/2015,1183289,N,ES,H,38,0.0,22,1.0,NaN,...,0,0,0,0,0,0,0,0.0,0.0,1

# data cleaning

In [52]:
count = 1
for row in cust_data:
    print(row)

    # if count == 1:
    #     print(row)
    # break

Date
Customer_id
Employee index
Country
Gender
Age
Contract date
New customer index
Seniority(months)
Primary
Expiration of primary
Customer type
Customer relation type
Residence index
Foreigner index
Spouse index
Channel
Deceased index
Address type
Province code
Province name
Activity index
Gross income
Saving account
Guarantees
Current account
Derivada account
Payroll account
Junior account
Most particular account
Particular account
Particular plus account
Short-term deposits
Medium-term deposits
Long-term deposits
e-account
Funds
Mortage
Pensions_1
Loans
Taxes
Credit card
Securities
Home account
Payroll
Pensions_2
Direct debit

In [ ]:
# input = open('/Users/zhan/dg_intern/DataSets/cust_seg.csv', 'rb')
# output = open('/Users/zhan/dg_intern/DataSets/cust_seg_edited.csv', 'wb')
with open('/Users/zhan/dg_intern/DataSets/cust_seg.csv', 'rb') as inp, open('/Users/zhan/dg_intern/DataSets/cust_seg_edited.csv', 'wb') as out:
    writer = csv.writer(out)
    for row in csv.reader(inp):
        if row[7] and row[8]:
            writer.writerow(row)
# input.close()
# output.close()